/* Universal Styles*/

body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  background-color: white;
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 1536px) {

}

@media only screen and (max-width: 2880px) {

}

/* Header */

header {
  color: white;
  background-color: cadetblue;
  height: 3rem;
  width: 960px;
  position: relative;
  z-index: 1;
}

header.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header img {
  padding-left: 2rem;
  height: 1.5rem;
  width: auto;
}

header p {
  padding-left: 1rem;
  font-size: 1rem;
}

header nav {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  padding-right: 2rem;
}

/* Jumbotron */

.jumbotron {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: flex-end;
}

.jumbotron-box {
  height: 5rem;
  width: auto;
  padding: 1.5rem 5rem;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 13rem;
  margin-right: 5rem;
}

/* Main Content */

.imageBox {
  height: 14rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  padding: 3rem 6rem;
  height: 8rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.paper {
  width: 3.5rem;
  height: 50%;
}

.ruler {
  width: 4.5rem;
  height: 50%;
}

.truck {
  width: 4.5rem;
  height: 50%;
}

.writingBox {
  width: auto;
  height: auto;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.writing {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5rem;
}

.title {
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.description {
padding-top: 1rem;
}

/* Footer */

footer {
  width: 960px;
  height: auto;
  background-color: azure;
  display: flex;
  justify-content: center;
}

footer img {
  height: 1.5rem;
  width: auto;
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer p {
  padding-left: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
